// COLORS
$color-black: #131313;
$color-white: #fff;
$color-grey: #EEEEEE;
$color-link: #DB0A5B;
$color-link-hover: #663399;
$color-code: #00FF00;
$color-bg: #3498DB;
$color-hire-white: #FEFEFE;
$color-hire-black: #272727;
$color-hire-green: #B6EFD4;
$color-hire-blue: #A0CCDA;
$color-hire-shadow: rgba(0, 0, 0, 0.2);

// BREAKPOINTS
$br: 600px;
